{% extends "network/layout.html" %}

{% block body %}
<div class="card my-4 post" data-post-id="{{ parent.id }}">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'user' parent.author %}">{{ parent.author }}</a>
        </h5>
        {% if parent.isAuthor %}
        <button class="btn btn-link edit-post" data-post-id="{{ parent.id }}">Edit</button>
        {% endif %}
        <p class="post-content">{{ parent.content }}</p>
        <p class="text-muted">{{ parent.date }}</p>
        <div>
            <svg class="like" data-post-id="{{ parent.id }}" width="24" height="24" viewBox="0 0 24 24" {% if parent.userLiked %} style="fill: red; cursor: pointer;" {% else %} style="fill: transparent; cursor: pointer;" {% endif %}>
                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" stroke="black" stroke-width="2"/>
            </svg>
            <span>{{ parent.likes }}</span>
        </div>
    </div>
</div>
    {% if user.is_authenticated %}
    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title">Comment</h5>
            <form id="create">
                <div class="form-group">
                    <textarea class="form-control" id="new-comment" rows="3" placeholder="What's on your mind?"></textarea>
                </div>
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <button type="submit" data-post-id="{{ parent.id }}" class="comment-primary btn btn-primary">Comment</button>
            </form>
        </div>
    </div>
    {% endif %}
    <h2>{{count}} Comments</h2>
    <div id="posts">
            {% for post in posts %}
            <div class="card my-4 post" data-post-id="{{ post.id }}">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'user' post.author %}">{{ post.author }}</a>
                    </h5>
                    {% if post.isAuthor %}
                    <button class="btn btn-link edit-post" data-post-id="{{ post.id }}">Edit</button>
                    {% endif %}
                    <p class="post-content">{{ post.content }}</p>
                    <p class="text-muted">{{ post.date }}</p>
                    <div>
                        <svg class="like" data-post-id="{{ post.id }}" width="24" height="24" viewBox="0 0 24 24" {% if post.userLiked %} style="fill: red; cursor: pointer;" {% else %} style="fill: transparent; cursor: pointer;" {% endif %}>
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" stroke="black" stroke-width="2"/>
                        </svg>
                        <span>{{ post.likes }}</span>
                        {% if user.is_authenticated %}
                        <button class="comment btn btn-link" data-post-id="{{ post.id }}">Comment</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
{% endblock %}

{% block script %}
{% load static %}
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}
